<!DOCTYPE html>
<html>
<head>
  <title>Cultural</title>
  <%= stylesheet_link_tag    "bootstrap-flatly.min" %>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <script type="text/x-handlebars" id="application">
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Ember.js+Rails TodoMVC</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li>{{#link-to 'todos'}}TODOs{{/link-to}}</li>
            <li>{{#link-to 'about'}}About{{/link-to}}</li>
          </ul>
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-lg-12">{{outlet}}</div>
      </div>
    </div>
  </script>

  <script type="text/x-handlebars" id="about">
    <div class="page-header">
      <h1 id="type">About</h1>
    </div>
    <p> This is a sample TODO app using the <strong>Ember.js</strong> MVC framework for the GUI and <strong>Rails</strong> for the serverside REST API. </p>
  </script>

  <script type="text/x-handlebars" id="todos">
    <div class="page-header">
      <h1 id="type">TODOs</h1>
    </div>

    <div>Total items: {{todosTotal}}</div>
    <div>Completed items: {{todosCompleted}}</div>
    <div>Incomplete items: {{todosIncomplete}}</div>

    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th class='id_th'>#</th>
          <th>TODO</th>
          <th class='completed_th'>Completed</th>
          <th class='delete_th'>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td colspan="2">{{input type="text" id="new-todo-item" placeholder="New TODO note?"  value=title action="createTodo"}}</td>
          <td><button {{action "createTodo"}} class="btn btn-success btn-xs">Create</button></td>
        </tr>

        {{#each itemController="todo"}}
          <tr>
            <td>{{id}}</td>
            <td>
              {{#if isEditing}}
                {{edit-todo value=title focus-out="acceptChanges" insert-newline="acceptChanges"}}
              {{else}}
                <p {{action "edit" on="doubleClick"}}>{{title}}</p>
              {{/if}}
            </td>
            <td>{{input type="checkbox" checked=isCompleted class="toggle"}}</td>
            <td><button {{action "delete"}} class="btn btn-danger btn-xs">Delete</button></td>
          </tr>
        {{/each}}

      </tbody>
    </table>
  </script>

</body>
</html>
